*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
margin: 0;
padding: 0;

}

body{
background-color: #00d4ff;
width:100%;
}


header{
  display: flex;
  background-image: url("/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-position-y: bottom;

}


h1{
  margin: 15px;
  margin-top: 20px;
  font-size: 26px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px 55px 30px 55px;

  

}


.bar{
  display: flex;
 
}


 .menu{
  display: flex;
  font-size: 10px;
  border: 1px solid white; 
  padding: 10px 8px 10px 8px;
  margin: auto;
  align-items: center;
  margin-top: 15px;
  border-radius: 4px;
}


.intro{
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 2px;
  color: black;
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_shoes.jpeg);
  background-repeat: no-repeat;
  background-size: cover;  
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 45vw 55vw;
  grid-template-rows: 20vh;
  height: 135px;
  
}


h6 {
  font-style: italic;
  color: #00d4ff;
  text-align: center;
  font-size: 18px;
  line-height: 25px;

}


.steps{
  display: grid;
  /*2 elements in the 1 column below, 2nd elemn text-col display: inline*/
  grid-template-columns: 54vw;
  grid-template-rows: 1fr 1fr 1fr;
  color:black;
  height: 133px;
  width: 1fr;
  background: #eee;
  margin: auto;
  flex-direction: column;
  
}


.steps > div:nth-child(odd){
  background: #ddd;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}


.combo{
  height: 44px;

}


.img-col{
  vertical-align: middle;
  width: 34px;
  height: 44px;
  
}


.text-col{
  display: inline;
  color: black;
  font-size: 10px;
  
}


main {
margin: 10px 10px 20px 10px;
color: black; 

}


 .topRow {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  color: white;
  
}


.secondRow{
  display: flex;
  justify-content: space-evenly; 
  color: black;
  
} 


.box{
display: flex;
height: 80px;
width: 320px;
align-items: center;
justify-content: center;
border: 1px solid white;
box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
}


#img-tango{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_history.jpg);
  background-size: 115%;
  background-repeat: no-repeat;
}


#img-music{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_music.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;

}


#img-dancing{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_dancers.jpeg);
  background-size: 105%;
  background-repeat: no-repeat;
}


#img-band{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_band.jpg);
  background-size: 110%;
  background-repeat: no-repeat;

}


#img-culture{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/Tango_culture.jpeg);
  background-size: 130%;
  background-repeat: no-repeat;

}


#img-shoes{
  background-image: url(/Users/crivellos/Documents/Coding@StE/UDACITY/Ud_project01/assets/heel_images.jpg);
  background-size: 100%;
  margin-bottom: 50px;
  background-repeat: no-repeat;

}


#ddd{
  background: #ddd;
}

#eee{
  background: #eee;
}


.social{
  max-width: 8%;
  max-height: 8%;
  margin: 25px;

}


footer{
text-align: center;

}







@media only screen and (min-width: 768px){


h1{
  font-size: 60px;
  padding: 80px 120px 80px 120px;

}

.intro{
  height: 180%;
 
}

.menu{
  padding: 20px;
  font-size: 18px;

}


.wrapper{
  display: flex;
  margin: 60px 0px 20px 0px;
  /* padding: 15px 10px 45px 0px; */
  width: 100%;
  align-items: center;
   
}

h6{
  font-size: 35px;
  margin-top: 5px;
  justify-content: center;
  line-height: 42px;

}


  .steps{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 180%;
    margin: 0px 0px 0px 0px;

  }


  .combo{
    display: flexbox;
    justify-content: center;
    height: 80px;
  }

  .img-col{
    vertical-align: middle;
    width: 66px;
    height: 60px;
    height: 105%;
    
  }

  main{
    margin: 15px;
    padding: 60px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .box{
    height: 180px;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);

    }

    .secondRow{
      margin-top: 65px;
    }


}


/* @media only screen and (min-width: 991px) and (max-width: 1199px){

} */

@media only screen and (min-width: 1200px) and (max-width: 1680px){


  h1{
    padding: 85px 140px 85px 140px;
    width: 70%;
    text-align: center;
  
  }

  .bar{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu{
    padding: 20px;
    font-size: 18px;
  }

  .intro{
    display: flex;
    width: 30%;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
      
    }

    
    .wrapper{
      display: flex;
      height: 135px;
      grid-gap: 0;
      grid-template-rows: 100vw;
      grid-template-columns: 100vh;
      padding: 20px 0px 80px 0px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
      
       
    }


    .steps{
      /* grid-template-columns: 50vw 40vw; */
      display: inline;
      height: 302px;
      width: 68%;
      
  
    }

    .combo{
      height: 100px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .img-col{
      height: 101px;

    }

    .text-col{
      padding: 10px;
      font-size: 18px;
    }


    main{
      padding: 50px;
      padding-bottom: 250px;
      max-width: 200%;
      max-height: 450px;
      margin-bottom: 100px;
    }

    .box{
      height: 130px;
      width: 285px;
      padding: 15px;
      margin: 15px;
    }


}

/* .bar{
  display: flex;
 
}


 .menu{
  display: flex;
  font-size: 10px;
  border: 1px solid white; 
  padding: 10px 8px 10px 8px;
  margin: auto;
  align-items: center;
  margin-top: 15px;
  border-radius: 4px;
} */